html {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background: url(/Users/johnhongmacintosh/Documents/CODECADEMY/projects/Broadway/the-flatiron-building.png);
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  color: white;
}

h6 {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

#designedin {
  color: white;
  background: url(/Users/johnhongmacintosh/Documents/CODECADEMY/projects/Broadway/the-flatiron-building.png)
}
